<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <!-- Создание меню-->
                <header>
                    <img src="images/knowknow1.png" class="logo">
                    <ul class="mainmenu">
                        {% for item in menu %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </header>
            </div>
            <div class="slaider">
                <div class="slaider-text">
                    KnowKnow — компания которая специализируется на HR-услугах для клиентов малого и среднего бизнеса и корпоративных клиентах
                </div>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <div class="footer">
                <footer>
                    <div class="text">
                        <p>{{ date('Y') }}&copy; Все права защищены</p>
                        <ul>
                            <li>129226, г. Москва, проспект Мира дом 131, офис 3</li>
                            <li>8-926-476-22-62 Роман</li>
                            <li>info@knowknow.ru</li>
                            <li>Режим работы: С понедельника по пятницу c 10:00 — 19:00</li>
                        </ul>
                        <p><a href="https://www.youtube.com/channel/UCOzhVjPr4l8VGgC2-cayeKA"target="_blank"><img src="images/YouTube.png" width="50" height="45"></a></p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>